    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!--                         <h1 class="brand-heading">{{ site.title }}</h1>-->
                        <!--                         <img src="img/ZettaLogo.png" width="400"> -->
                        <br><br><br>
                        <h3>{{ site.description }}</h3><br><br>

                            <p>We created the AI behind two landmark achievements in neuroscience. The <a href="http://codex.flywire.ai">FlyWire</a> Consortium has released the first neuronal wiring diagram of an adult brain. 
                                With over 10<sup>5</sup> neurons and 10<sup>8</sup> synapses, the <em>Drosophila</em> brain is a clear leap beyond the 300 neurons and 10<sup>4</sup> synapses of the <em>C. elegans</em> nervous system, which was mapped in the 1970s and 80s.  
                                The <a href="http://microns-explorer">MICrONS</a> Consortium has released a reconstruction of a cubic millimeter of cerebral cortex. 
                                These achievements in petascale connectomics were enabled by our AI technologies, which are now being made accessible
                                to all neuroscientists.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
