    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!--                         <h1 class="brand-heading">{{ site.title }}</h1>-->
                        <!--                         <img src="img/ZettaLogo.png" width="400"> -->
                        <br><br><br>
                        <h3>{{ site.description }}</h3><br><br>

                            <p>Our mission is to make connectomics inexpensive and accessible to all neuroscientists by the application of artificial intelligence. We reconstruct neural circuits by analyzing electron microscopic brain images.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
